@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbtn{
        @apply  hover:scale-150 transition-all ease-in-out focus:animate-bounce  

    }
    .input{
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6
        py-4 border-[#242424] placeholder-gray-500 transition-all
        focus:border-[#F7AB0A]/40
    }
    html{
        @apply scroll-smooth
    }
    .active{
        color: black;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	background-color: #F7AB0A;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    body{
        overflow-x: hidden;
    }
   

}

